<%- include ('partials/head') %>
<%- include ('partials/header') %>
<main class="container" id="mainContent">

  <% if (title == 'Home') { %>
    <%- include ('content/home') %>
    <% } %>
  <% if (title == 'About') { %>
    <%- include ('content/about') %>
    <% } %>

    <% if (title == 'Projects') { %>
      <%- include ('content/home') %>
      <% } %>

</main>

<%- include ('partials/footer') %>