<%- include ('partials/head') %>
<%- include ('partials/header') %>
<main class="container" id="mainContent">

  <% if (title == 'Home') { %>
    <%- include ('content/home') %>
    <% } %>
  <% if (title == 'About') { %>
    <%- include ('content/about') %>
    <% } %>

    <% if (title == 'Projects') { %>
      <%- include ('content/projects') %>
      <% } %>

      
    <% if (title == 'Services') { %>
      <%- include ('content/services') %>
      <% } %>

      <% if (title == 'Contact') { %>
        <%- include ('content/contact') %>
        <% } %>

</main>

<%- include ('partials/footer') %>