<!--
  Jonathon Wager 100698641
  Aaron Leblanc 100700122
  4/16/2021
  index.ejs
-->
<%- include ('partials/head') %>
<%- include ('partials/header') %>
<main class="container" id="mainContent">

  <% if (title == 'Home') { %>
    <%- include ('content/home') %>
    <% } %>
  <% if (title == 'About') { %>
    <%- include ('content/about') %>
    <% } %>
  <% if (title == 'Projects') { %>
    <%- include ('content/projects') %>
    <% } %>
  <% if (title == 'Services') { %>
    <%- include ('content/services') %>
    <% } %>
  <% if (title == 'Contact') { %>
    <%- include ('content/contact') %>
    <% } %>
  <% if (title == 'Login') { %>
    <%- include ('content/login') %>
    <% } %>
  <% if (title == 'Register') { %>
    <%- include ('content/register') %>
    <% } %>
  <% if (title == 'Bussinesscontact') { %>
    <%- include ('content/bussinesscontact') %>
    <% } %>
</main>
<%- include ('partials/scripts') %>
<%- include ('partials/footer') %>